* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: black;
    color: white;
    min-height: 80px;
}

main {
    flex-grow: 1;
}

footer {

    min-height: 50px;
    display: flex;
    justify-content: center;
}



.header_link {
    color: black;
    border: 2px solid black;
    padding: 8px;
    background-color: #F0F8FF;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 30px;
}

.header_link:hover {
    background-color: rgb(231, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.foto {
    margin: 20px 0;
}

.nome{
    margin-top: 20px;
    padding: 20px;
}

.links {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    transition: background-color 1s, text-decoration 1s;
    border-radius: 4px;
    padding: 4px 8px;
}


.links:hover {
    background-color: #90EE90;
    text-decoration: overline solid black;
}

/* Layout da tabela */
table {
    width: 600px;
    height: 100px;
    margin-bottom: 6vh;;
}

caption {
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    height: 40px;

}

thead {
    background-color: royalblue;
    color: white;
}

tbody {
    background-color: white;
    color: black;
}

caption {
    font-size: 25px;
    font-weight: 800;
}
