@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Tomorrow', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#idIniciante{
    margin-left: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: 50px;
}

.nome {
    background-color: #FDF5E6;
    padding: 10px;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
    text-decoration: overline blueviolet;
    text-shadow: 2px 2px 0 #C0C0C0;
    margin: 20px 0;
}

.links {
    text-decoration: none;
    background-color: #FFEFD5;
    color: black;
    transition: background-color 1s, text-decoration 1s;
    padding: 5px;
    border-radius: 4px;
}

.links:hover {
    background-color: #90EE90;
    text-decoration: overline solid black;
}

.sobre {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    text-shadow: -2px -2px 0px #FFF0F5;
    line-height: 30px;
    letter-spacing: 1px;
    text-indent: 40px;
    margin: 20px 0;
}

.header {
    font-size: 30px;
    margin: 20px 0;
}

.header_link {
    color: black;
    border: 2px solid black;
    padding: 8px;
    background-color: #F0F8FF;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
}

.header_link:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.foto {
    margin: 20px 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 230px;
}

table {
    width: 80%;
    margin: 20px 0;
}

td, th {
    text-align: center;
    padding: 8px;
}

thead {
    background-color: royalblue;
    color: white;
}

caption {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 25px;
}
